# Node modules
node_modules/

# Build output
dist/

# Local environment variables
.env.local
.env.*.local

# Log files
*.log

# Vite cache
.vite/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store

# Windows
Thumbs.db